{% extends "main.html" %}

{% block content2 %}
<!-- div style="font-family: sans;"><p>We are tracklist</p></div -->

<div style="position: relative; top: 0px">
  <!-- <div style="font-family: sans;"><p>session <span style="font-weight: bold">{{ username }}</span></p></div> -->
  <!-- <div style="font-family: sans;"><p style="font-weight: bold"><a href="{{ base_path }}/url">droptrack</a> | tracklist</p></div> -->
  <!-- <div style="font-family: sans"> -->
  <!--   <p>workflow: 1) upload your track, 2) select track(s) from the list, 3) select operation, 4) run the thing</p> -->
  <!--   <p>form action is autosuite flask app</p> -->
  <!-- </div> -->
  <div style="position: relative; top: 0px">
    <table class="dt-table-1">
      <tr class="dt-table-row-1">
	<td class="dt-table-col-left">app</td>
	<td class="dt-table-col-right">session</td>
      </tr>
      <tr>
	<td>
	  <span class="dt-text-bold"><a href="{{ base_path }}/url">droptrack</a> | <a href="{{ base_path }}/tracklist">tracklist</a></span>
	</td>
	<td class="dt-table-col-right">
	  <span class="dt-text-bold">{{ username }}</span>
	  <span class="dt-text-normal"><a href="{{base_path}}/setsession">c</a></span>
	</td>
      </tr>
    </table>
    
  <!--   <div class="dt-text-normal"> -->
  <!--     <table class="dt-table-2"> -->
  <!-- 	<tr> -->
  <!-- 	  <td>1</td> -->
  <!-- 	  <td>upload your track from url or file</td> -->
  <!-- 	</tr> -->
  <!-- 	<tr> -->
  <!-- 	  <td>2</td> -->
  <!-- 	  <td>select a track from the list of uploads</td> -->
  <!-- 	</tr> -->
  <!-- 	<tr> -->
  <!-- 	  <td>3</td> -->
  <!-- 	  <td>run autoedit on that track</td> -->
  <!-- 	</tr> -->
  <!--     </table> -->
  <!--   </div> -->
  </div>
</div>

{% if True %}
<div style="position: relative; top: 0px">
  <div class="dt-text-bold"><p>user track database</p></div>
  <table class="dt-table-tracklist">
    <tr>
      {% for field in tracklist.columns %}
      {% if field in ['url', 'filepath', 'fingerprint', 'hash'] %}
      {% else %}
      <td class="dt-text-bold">
	{{ field }}
      </td>
      {% endif %}
      {% endfor %}
    </tr>
    
    {% for rowidx, rowdata in tracklist.sort_index(ascending=False).iterrows() %}
    <tr>
      {% for fieldkey in rowdata.to_dict() %}
      {% if fieldkey in ['id'] %}
      <td class="dt-text-normal">
	<a href="{{ base_path }}/track?trackid={{rowdata[fieldkey]}}">{{ rowdata[fieldkey]|string|truncate(20) }}</a>
      </td>
      {% elif fieldkey in ['url', 'filepath', 'fingerprint', 'hash'] %}
      {% elif fieldkey in ['length'] %}
      <td class="dt-table-col-right">
      {{ '%0.2f'| format(rowdata[fieldkey])|float }}
      </td>
      {% else %}
      <td class="dt-text-normal">
      {{ rowdata[fieldkey]|string|truncate(30) }}
      </td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}    
  </table>

  {% if False %}
  <div style="font-family: sans; font-weight: bold;"><p>user track database</p></div>
  <table>
    <tr>
      {% for field in tracklist.columns %}
      {% if field in ['url', 'filepath', 'fingerprint', 'hash'] %}
      {% else %}
      <td style="font-family: sans; font-weight: bold">
	{{ field }}
      </td>
      {% endif %}
      {% endfor %}
    </tr>
    
    {% for rowidx, rowdata in tracklist.sort_index(ascending=False).iterrows() %}
    <tr>
      {% for fieldkey in rowdata.to_dict() %}
      {% if fieldkey in ['id'] %}
      <td style="font-family: sans">
	<a href="{{ base_path }}/track?trackid={{rowdata[fieldkey]}}">{{ rowdata[fieldkey]|string|truncate(20) }}</a>
      </td>
      {% elif fieldkey in ['url', 'filepath', 'fingerprint', 'hash'] %}
      {% elif fieldkey in ['length'] %}
      <td style="font-family: sans; text-align: right">
      {{ '%0.2f'| format(rowdata[fieldkey])|float }}
      </td>
      {% else %}
      <td style="font-family: sans">
      {{ rowdata[fieldkey]|string|truncate(30) }}
      </td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}    
  </table>
  {% endif %}  
</div>
{% endif %}

{% if False %}
<div style="position: relative; top: 50px">
  <div style="font-family: sans"><p>main track database</p></div>
  <table>
    <tr>
    {% for field in tracklist_default.columns %}
    <td style="font-family: sans; font-weight: bold">
      {{ field }}
    </td>
    {% endfor %}
    </tr>
    
    {% for rowidx, rowdata in tracklist_default.sort_index(ascending=False).iterrows() %}
    <tr>
      {% for fielddata in rowdata %}
      <td style="font-family: sans">
	{% if loop.index == 1 %}
	<a href="{{ base_path }}/track?trackid={{fielddata}}">{{ fielddata|string|truncate(20) }}</a>
	{% else %}
	{{ fielddata|string|truncate(20) }}
	{% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}

{% endblock %}
