{% extends "main.html" %}

{% block content2 %}
<!-- div style="font-family: sans;"><p>We are tracklist</p></div -->

<div style="position: relative; top: 0px">
  <!-- <div style="font-family: sans;"><p>session <span style="font-weight: bold">{{ username }}</span></p></div> -->
  <!-- <div style="font-family: sans;"><p style="font-weight: bold"><a href="{{ base_path }}/url">droptrack</a> | <a href="{{ base_path }}/tracklist">tracklist</a></p></div> -->
  <!-- <div style="font-family: sans"> -->
  <!--   <p>workflow: 1) upload your track, 2) select track(s) from the list, 3) select operation, 4) run the thing</p> -->
  <!--   <p>form action is autosuite flask app</p> -->
  <!-- </div> -->
  <div style="position: relative; top: 0px">
    <table class="dt-table-1">
      <tr class="dt-table-row-1">
	<td class="dt-table-col-left">app</td>
	<td class="dt-table-col-right">session</td>
      </tr>
      <tr>
	<td>
	  <span class="dt-text-bold"><a href="{{ base_path }}/url">droptrack</a> | <a href="{{ base_path }}/tracklist">tracklist</a> | track detail</span>
	</td>
	<td class="dt-table-col-right">
	  <span class="dt-text-bold">{{ username }}</span>
	  <span class="dt-text-normal"><a href="{{base_path}}/setsession">c</a></span>
	</td>
      </tr>
    </table>
  </div>
</div>

{% if True %}
<div style="position: relative; top: 0px; font-family: sans">

  {% if False %}
  {% if request.method == 'GET' %}
  <p>request GET, trackid {{ request.args.get('trackid') }}, track {{ tracklist.filename }}</p>
  {% endif %}
  {% if request.method == 'POST' %}
  <p>POST trackid = {{ request.form.get('trackid') }}, track = {{ tracklist.filename }}</p>
  {% endif %}
  {% endif %}

  <div style="position: relative; top: 0px; font-family: sans">
    <table style="border: 2px; border-spacing: 10px">
      
      <!-- <tr> -->
      <!-- {% for field in tracklist %} -->
      <!-- <td style="font-family: sans; font-weight: bold"> -->
      <!--   {{ field }} -->
      <!-- </td> -->
      <!-- {% endfor %} -->
      <!-- </tr> -->
      {% for track_key in tracklist %}
      {% if track_key in ['url', 'filepath', 'fingerprint', 'hash'] %}
      {% else %}
      <tr>
	<td class="dt-text-bold dt-table-col-right">
	  {{ track_key }}
	</td>
	{% if track_key in ['length'] %}
	<td>{{ '%.2f' | format(tracklist[track_key]) | float  }}</td>
	{% elif track_key == 'id' %}
	<td><a href="{{ base_path }}/track?trackid={{ tracklist['id'] }}">{{ tracklist['id'] }}</a></td>
	{% else %}
	<td>{{ tracklist[track_key]|string|truncate(100) }}</td>
	{% endif %}
      </tr>
      {% endif %}
      {% endfor %}
      
    </table>
    <p></p>
  </div>

  <div style="position: relative; top: 0px; font-family: sans">
    <span style="font-weight: bold">autoedit params</span>
    <hr />
    <form action="{{base_path}}/track" method="POST">
      <!-- input name="track" type"track" placeholder="URL of soundfile"/ -->
      <input name="trackid" type="hidden" value="{{ tracklist.id }}" />
      <input name="mode" type="hidden" value="autoedit" />
      <table>
	<tr>
	  <td>duration in secs</td>
	  <td><input name="duration" type="input" value="120" /></td>
	</tr>
	<tr>
          <td>number of segments</td>
	  <td><input name="numsegs" type="input" value="30" /></td>
	</tr>
	<tr>
          <td>assemble mode</td>
	  <td>
	    <select name="assemble_mode" value="random">
	    <option value="random">random</option>
	    <option value="sequential">sequential</option>
	    </select>
	  </td>
	</tr>
	<tr>
          <td>seed</td>
	  <td><input name="seed" type="input" value="1234" /></td>
	</tr>
	<tr>
	  <td></td>
	  <td>
	    <input type="submit" value="autoedit" />
	  </td>
	</tr>
      </table>
    </form>
    <p></p>
  </div>

  <div style="position: relative; top: 0px; font-family: sans">
    {% if False and autoedit_res['filename_export'] != None %}
    <p>autoedit results</p>
    <table>
      {% for k in autoedit_res %}
      <tr>
	<td style="font-family: sans">
	  {% if k == "filename_export" %}
	  {{ k }} - <a href="http://localhost/droptrack/{{ autoedit_res[k] }}">{{ autoedit_res[k]|string|truncate(100) }}</a>
	  {% else %}
	  {{ k }} - {{ autoedit_res[k]|string|truncate(100) }}
	  {% endif %}
	</td>
	{% endfor %}
      </tr>
    </table>
    {% endif %}
    
    <div style="position: relative; top: 0px; font-family: sans">
      <span style="font-weight: bold">autoedits generated</span>
    </div>

    <!-- <div style="position: relative; top: 20px; font-family: sans"> -->
    <!--   <span style="font-weight: bold">autoedit to_html</span> -->
    <!--   <div> -->
    <!-- 	{{ autoedit_results.sort_index(ascending=False).to_html() }} -->
    <!--   </div> -->
    <!-- </div> -->
    
    <div style="position: relative; top: 0px; font-family: sans">
      {% for rowidx, rowdata in autoedit_results.sort_index(ascending=False).iterrows() %}
      <div style="position: relative; top: 0px; font-family: sans">
	<hr />
	<table>
	  {% for fieldkey in rowdata.to_dict() %}
	  {% if fieldkey in ['length', 'segs', 'filename_', 'numsegs'] %}
	  {% else %}
	  <tr>
	    <td>{{fieldkey}}</td>
	    <td style="font-family: sans">
	      {% if fieldkey in ['filename_export', 'autoedit_graph'] %}
	      <a href="{{ media_server }}/droptrack/{{rowdata[fieldkey]}}">{{ rowdata[fieldkey]|string|truncate(40) }}</a>
	      {% elif fieldkey in ['seg_s'] %}
	      {{ rowdata[fieldkey]|string }}
	      {% else %}
	      {{ rowdata[fieldkey]|string|truncate(40) }}
	      {% endif %}
	    </td>
	  </tr>
	  {% endif %}
	  {% endfor %}
	</table>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
