{% extends "main.html" %}

{% block content2 %}
<!-- div style="font-family: sans;"><p>We are tracklist</p></div -->

<div style="position: relative; top: 20px">
  <div style="font-family: sans;"><p>session <span style="font-weight: bold">{{ username }}</span></p></div>
  <div style="font-family: sans;"><p style="font-weight: bold"><a href="/url">droptrack</a> | <a href="/tracklist">tracklist</a></p></div>
  <div style="font-family: sans;"><p style="font-weight: bold">track detail id <a href="/track?trackid={{ tracklist['id'] }}">{{ tracklist['id'] }}</a></p></div>
  <!-- <div style="font-family: sans"> -->
  <!--   <p>workflow: 1) upload your track, 2) select track(s) from the list, 3) select operation, 4) run the thing</p> -->
  <!--   <p>form action is autosuite flask app</p> -->
  <!-- </div> -->
</div>

{% if True %}
<div style="position: relative; top: 20px; font-family: sans">

  {% if False %}
  {% if request.method == 'GET' %}
  <p>request GET, trackid {{ request.args.get('trackid') }}, track {{ tracklist.filename }}</p>
  {% endif %}
  {% if request.method == 'POST' %}
  <p>POST trackid = {{ request.form.get('trackid') }}, track = {{ tracklist.filename }}</p>
  {% endif %}
  {% endif %}

  <!-- <p>trackinfo</p> -->
  <table style="border: 2px;">
    
    <!-- <tr> -->
    <!-- {% for field in tracklist %} -->
    <!-- <td style="font-family: sans; font-weight: bold"> -->
    <!--   {{ field }} -->
    <!-- </td> -->
    <!-- {% endfor %} -->
    <!-- </tr> -->
    {% for track_key in tracklist %}
    <tr>
      <td style="font-family: sans">
	{{ track_key }}
      </td>
      <td>{{ tracklist[track_key]|string|truncate(100) }}</td>
    </tr>
    {% endfor %}
    
  </table>

  <div style="position: relative; top: 20px; font-family: sans">
    <span style="font-weight: bold">autoedit params</span>
    <hr />
    <form action="track" method="POST">
        <!-- input name="track" type"track" placeholder="URL of soundfile"/ -->
        <input name="trackid" type="hidden" value="{{ tracklist.id }}" />
        <input name="mode" type="hidden" value="autoedit" />
        duration in secs <input name="duration" type="input" value="120" />
        number of segments <input name="numsegs" type="input" value="30" />
        assemble mode <input name="assemble_mode" type="input" value="random" />
        seed <input name="seed" type="input" value="1234" />
        <input type="submit" value="autoedit" />
    </form>
  </div>

  <div style="position: relative; top: 40px; font-family: sans">
    {% if False and autoedit_res['filename_export'] != None %}
    <p>autoedit results</p>
    <table>
      {% for k in autoedit_res %}
      <tr>
	<td style="font-family: sans">
	  {% if k == "filename_export" %}
	  {{ k }} - <a href="http://localhost/droptrack/{{ autoedit_res[k] }}">{{ autoedit_res[k]|string|truncate(100) }}</a>
	  {% else %}
	  {{ k }} - {{ autoedit_res[k]|string|truncate(100) }}
	  {% endif %}
	</td>
	{% endfor %}
      </tr>
    </table>
    {% endif %}
    
    <div style="position: relative; top: 20px; font-family: sans">
      <span style="font-weight: bold">autoedit tables</span>
    </div>

    <!-- <div style="position: relative; top: 20px; font-family: sans"> -->
    <!--   <span style="font-weight: bold">autoedit to_html</span> -->
    <!--   <div> -->
    <!-- 	{{ ts_autoedit.sort_index(ascending=False).to_html() }} -->
    <!--   </div> -->
    <!-- </div> -->
    
    <div style="position: relative; top: 20px; font-family: sans">
      {% for rowidx, rowdata in ts_autoedit.sort_index(ascending=False).iterrows() %}
      <div style="position: relative; top: 0px; font-family: sans">
	<hr />
	<table>
	  {% for fielddata in rowdata %}
	  <tr>
	    <td style="font-family: sans">
	      {% if loop.index == 2 %}
	      <a href="http://localhost/droptrack/{{fielddata}}">{{ fielddata|string|truncate(20) }}</a>
	      {% else %}
	      {{ fielddata|string|truncate(20) }}
	      {% endif %}
	    </td>
	  </tr>
	  {% endfor %}
	</table>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
