{% extends "main.html" %}

{% block content2 %}
<!-- div style="font-family: sans;"><p>We are tracklist</p></div -->

<div style="position: relative; top: 20px">
  <div style="font-family: sans;"><p>session <span style="font-weight: bold">{{ username }}</span></p></div>
  <div style="font-family: sans;"><p style="font-weight: bold"><a href="/url">droptrack</a> | tracklist</p></div>
  <!-- <div style="font-family: sans"> -->
  <!--   <p>workflow: 1) upload your track, 2) select track(s) from the list, 3) select operation, 4) run the thing</p> -->
  <!--   <p>form action is autosuite flask app</p> -->
  <!-- </div> -->
</div>

{% if True %}
<div style="position: relative; top: 20px">
  <div style="font-family: sans"><p>user track database</p></div>
  <table>
    <tr>
    {% for field in tracklist.columns %}
    <td style="font-family: sans; font-weight: bold">
      {{ field }}
    </td>
    {% endfor %}
    </tr>
    
    {% for rowidx, rowdata in tracklist.sort_index(ascending=False).iterrows() %}
    <tr>
      {% for fielddata in rowdata %}
      <td style="font-family: sans">
	{% if loop.index == 1 %}
	<a href="/track?trackid={{fielddata}}">{{ fielddata|string|truncate(20) }}</a>
	{% else %}
	{{ fielddata|string|truncate(20) }}
	{% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}    
  </table>
</div>
{% endif %}

{% if False %}
<div style="position: relative; top: 50px">
  <div style="font-family: sans"><p>main track database</p></div>
  <table>
    <tr>
    {% for field in tracklist_default.columns %}
    <td style="font-family: sans; font-weight: bold">
      {{ field }}
    </td>
    {% endfor %}
    </tr>
    
    {% for rowidx, rowdata in tracklist_default.sort_index(ascending=False).iterrows() %}
    <tr>
      {% for fielddata in rowdata %}
      <td style="font-family: sans">
	{% if loop.index == 1 %}
	<a href="/track?trackid={{fielddata}}">{{ fielddata|string|truncate(20) }}</a>
	{% else %}
	{{ fielddata|string|truncate(20) }}
	{% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>

{% endif %}
{% endblock %}
