{% extends "main.html" %}
{% block content %}
    {% if result %}
        <article class="error">{{ result.message }}</article>
	{% endif %}

<div style="position: relative; top: 20px">
  <div style="font-family: sans;"><p style="font-weight: bold">droptrack | <a href="/tracklist">tracklist</a></p></div>
  <div style="font-family: sans"><p>hello '{{ username }}'</p></div>
  <div style="font-family: sans"><p>upload a file from url or local</p></div>
  <!-- div style="font-family: sans"><p>-</p></div -->
</div>

<div style="position: relative; top: 20px">
    <form action="url" method="POST">
        <input name="url" type="url" placeholder="URL of soundfile"/>
        <input type="submit" />
    </form>
    <form action="soundfile" method="POST" enctype="multipart/form-data">
        <input name="soundfile" type="file" accept="audio/*" placeholder="Upload Soundfile"/>
        <input type="submit" value="Upload" />
    </form>
</div>
{% endblock %}

    {% block content2 %}
    <div style="position: relative; top: 20px">
      <div style="font-family: sans;"><p style="font-weight: bold">hello, i am content2 block</p></div>
      <div style="font-family: sans"><p>here to tell you: display the track database here</p></div>
      <div style="font-family: sans"><p>workflow: 1) upload your track, 2) select track(s) from the list, 3) select operation, 4) run the thing, form action is autosuite flask app</p></div>
      </div>
    {% endblock %}
