body {
    font-family: sans;
    font-size: 20px;
    width: auto;
    /* background-image: url(http://127.0.0.1/droptrack/data/jdkgegj_r1-autoedit-47.jpg); */
    background-image: url(http://soup.jetpack.cl/droptrack/data/369-Draft-o3XH7CjpBoI-autoedit-51.jpg);
    background-repeat: repeat-no;
    background-size: cover;
    /* background-image: linear-gradient(to right, red , yellow); */
    /* background-image: url(http://127.0.0.1/droptrack/data/droptrack-3-bg.jpg); */
    /* background-image: url(http://127.0.0.1/droptrack/data/PANO_20200927_140618_c1.jpg); */
    /* background-opacity: 0.1; */
    /* padding:60px 0 0 0; */
    /* background-image : url(path_to_logo) no-repeat top left;  */
}

a {
    /* color: #900090; */
    color: #491af2;
}

a:visited {
    /* color: #900090; */
    /* color: #ec51f3; */
    color: #541df4;
}

/* div::after { */
/*   content: ""; */
/*   /\* background: url(http://127.0.0.1/droptrack/data/PANO_20200927_140618.jpg); *\/ */
/*   /\* background: url(http://127.0.0.1/droptrack/data/PANO_20200828_200957.jpg); *\/ */
/*   /\* background-image: url(http://127.0.0.1/droptrack/data/droptrack-3-bg.jpg); *\/ */
/*   opacity: 0.5; */
/*   filter: invert(30%); */
/*   top: 0; */
/*   left: 0; */
/*   bottom: 0; */
/*   right: 0; */
/*   position: absolute; */
/*   z-index: -1;    */
/* } */

.logo {
    width: 64px;
    height: 64px;
    background : url("/assets/fm_logo_only_transparent_64.png");
    /* background : url("https://web.fm/img/fm_logo_only.svg"); */
}

.dt-section {
    /* width: 400px; */
    width: 40%;
    height: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: center;
    top: 120px;
    /* background-image: linear-gradient(to bottom, rgba(20, 200, 20, 1) , rgba(200, 40, 40, 0.8)); */
    background-image: linear-gradient(to bottom, rgba(180, 200, 80, 1) , rgba(200, 140, 140, 0.9));
    /* opacity: 0.4; */
}

.dt-main-titlerow {
    background-image: linear-gradient(to right, #38b31d, #e7ef28);
}

.dt-h1 {
    width: 100%;
    /* background-color: grey; */
    /* background : url("/assets/fm_logo_only_transparent_64.png"); */
    background-repeat: repeat-no;
    background-image: linear-gradient(to right, red , yellow);
    /* background-image: linear-gradient(to right, '#38b31d', '#e7ef28'); */
    color: white;
    font-family: sans;
    font-weight: normal;
}

.dt-table-1 {
    border: 1px solid orange;
    /* width: 400px; */
    width: 100%;
}

.dt-table-2 {
    border: 1px solid pink;
    /* width: 400px; */
    width: 100%;
}

.dt-table-tracklist {
    border: 1px solid lightgreen;
    /* width: 400px; */
    width: 100%;
}

.dt-table-row-1 {
    font-family: sans;
    font-weight: normal;
}

.dt-table-col-right {
    font-family: sans;
    text-align: right;
    vertical-align: top;
}

.dt-table-col-left {
    text-align: left;
}

.dt-text-normal {
    font-family: sans;
    font-weight: normal;
}

.dt-text-bold {
    font-family: sans;
    font-weight: bold;
}

